body {
  background-image: url('./images/background01.jpg');
  background-repeat: repeat;
}

h1 {
  color: #827191;
}

.bg-color {
  background-color: #FAE8E8;
}

.btn-home {
  background-color: #FFCC8C;
  color: #827191;
  font-size: 30px;
  margin-bottom: 20px;
}

.loading-spinner {
  height: 200px;
  width: 200px;
}

.spinner-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
